body {
  padding-top: 60px;
  /* 60px to make the container go all the way to the bottom of the topbar */
}
.gopher {
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
.gopher:hover {
  background-color: rgba(86, 61, 124, 0.25);
}
.gopher {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
}
@media (min-width: 1200px) {
  .gopher {
    width: 270px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  .gopher {
    width: 166px;
  }
}
@media (max-width: 767px) {
  .gopher {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
  }
}
